# PostgreSQL. Versions 7.4 and 8.x are supported.
#
# Install the ruby-postgres driver:
#   gem install ruby-postgres
# On Mac OS X:
#   gem install ruby-postgres -- --include=/usr/local/pgsql
# On Windows:
#   gem install ruby-postgres
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
development:
  adapter: postgresql
  encoding: unicode
  database: rl_development
  username: rl
  password: pwd
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database: rl_test
  username: rl
  password: pwd
  host: localhost
  port: 5432

production:
  adapter: postgresql
  encoding: unicode
  database: rl_production
  username: rl
  password:
  host: localhost
  port: 5432
