
%h1 Commutes

%table{:width => '100%'}
  %tr
    %th Name
    %th Start date
    %th End date
    %th Actions
  - for commute in @commutes
    %tr
      %td 
        =h commute.name 
      %td=h commute.start_date 
      %td=h commute.end_date 
      %td
        =link_to 'Show', commute
        &nbsp;|&nbsp;
        =link_to 'Edit', edit_commute_path(commute)
        &nbsp;|&nbsp;
        =link_to 'Delete', commute, :confirm => 'Are you sure?', :method => :delete 

= link_to 'New commute', new_commute_path 
