
%h1
  Ride types

%table{:width => '100%'}
  %tr
    %th Name
    %th Description
    %th Is commute
    %th Is inside
    %th Actions
  - for ride_type in @ride_types
    %tr
      %td=h ride_type.name
      %td=h ride_type.description
      %td=h ride_type.is_commute
      %td=h ride_type.is_inside
      %td
        =link_to 'Show', ride_type
        =link_to 'Edit', edit_ride_type_path(ride_type)
        =link_to 'Destroy', ride_type, :confirm => 'Are you sure?', :method => :delete

= link_to 'New ride type', new_ride_type_path